##########################################################################
# Copyright (C) 2006 DFKI GmbH.
# All rights reserved. Use is subject to license terms.
#
# Permission is hereby granted, free of charge, to use and distribute
# this software and its documentation without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of this work, and to
# permit persons to whom this work is furnished to do so, subject to
# the following conditions:
# 
#  1. The code must retain the above copyright notice, this list of
#     conditions and the following disclaimer.
#  2. Any modifications must be clearly marked as such.
#  3. Original authors' names are not deleted.
#  4. The authors' names are not used to endorse or promote products
#     derived from this software without specific prior written
#     permission.
# 
# DFKI GMBH AND THE CONTRIBUTORS TO THIS WORK DISCLAIM ALL WARRANTIES WITH 
# REGARD TO THIS SOFTWARE, INCLUDING ALL IMPLIED WARRANTIES OF 
# MERCHANTABILITY AND FITNESS, IN NO EVENT SHALL DFKI GMBH NOR THE 
# CONTRIBUTORS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL 
# DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR 
# PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS 
# ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF 
# THIS SOFTWARE.
##########################################################################
# MARY TTS configuration file.
##########################################################################

name = mbrola-tib-nl2

# Declare "group names" as component that other components can require.
# These correspond to abstract "groups" of which this component is an instance.
provides = \
	mbrola-voice \
	tibetan-voice

tibetan-voice.version = 3.5.0
voice.version = 3.5.0

# List the dependencies, as a whitespace-separated list.
# We can require a component by name or by an abstract "group name" 
# as listed under the "provides" element.
requires = \
    mbrola \
    tibetan
    
# For each required component, an optional minimum version and an optional
# download url can be given.
requires.mbrola.download = http://mary.dfki.de/download/mary-install-3.x.x.jar
requires.tibetan.download = http://mary.dfki.de/download/mary-install-3.x.x.jar


###########################################################################
############################## The Modules  ###############################
###########################################################################
# For keys ending in ".list", values will be appended across config files,
# so that .list keys can occur in several config files.
# For all other keys, values will be copied to the global config, so
# keys should be unique across config files.



####################################################################
####################### Module settings  ###########################
####################################################################

mbrola.voices.list = \
    tib-nl2


voice.tib-nl2.wants.to.be.default = 10
voice.tib-nl2.locale = tib
voice.tib-nl2.path = MARY_BASE/lib/voices/nl2/nl2
voice.tib-nl2.gender = male
voice.tib-nl2.topline.start = 130
voice.tib-nl2.topline.end = 100
voice.tib-nl2.baseline.start = 95
voice.tib-nl2.baseline.end = 85
voice.tib-nl2.sampamap = \
	k_h->k \
	tS->t+S \
	tS_h->t+S \
	J->nj \
	t_h->t \
	p_h->p \
	ts->t+s \
	ts_h->t+s \
	a:->a \
	o:->o \
	e:->e \
	u:->u \
	i:->i \
	E:->E \
	O:->O \
	2:->2 \
	y:->y \
	i~->i+n \
	e~->E~ \
	2~->2+n \
	y~->Y~ \
	a~->A~ \
	o~->O~ \
	O~->O~ \
	u~->u+n

voice.tib-nl2.preferredModules = \
        de.dfki.lt.mary.modules.tib.KlattDurationModeller \
        de.dfki.lt.mary.modules.tib.ContourGenerator
